<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-header-premium.css' | asset_url }}" media="print" onload="this.media='all'">

{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'search-spotlight.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

{%- style -%}
  .header-premium {
    padding: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px 3rem {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px 3rem;
  }

  .section-header {
    position: sticky; /* Safari z-index fix */
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 990px) {
    .header-premium {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    .header-premium .header__inline-menu .list-menu__item {
      padding: 1rem 1.6rem;
    }
  }
{%- endstyle -%}

<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'header-premium.js' | asset_url }}" defer="defer"></script>

{%- liquid
  assign header_tag = 'div'
  if section.settings.sticky_header_type != 'none'
    assign header_tag = 'sticky-header'
  endif
-%}

<{{ header_tag }} {% if header_tag == 'sticky-header' %}data-sticky-type="{{ section.settings.sticky_header_type }}"{% endif %} class="header-wrapper header-wrapper--premium color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  {%- liquid
    assign has_menu = section.settings.menu != blank
    assign show_localization = (section.settings.enable_country_selector and localization.available_countries.size > 1) or (section.settings.enable_language_selector and localization.available_languages.size > 1)
  -%}

  <header class="header header-premium header--{{ section.settings.logo_position }} header--mobile-{{ section.settings.mobile_logo_position }} page-width{% if section.settings.menu_type_desktop == 'drawer' %} drawer-menu{% endif %}{% if has_menu %} header--has-menu{% endif %}">
    {%- if has_menu -%}
      {%- render 'header-drawer' -%}
    {%- endif -%}

    {%- if section.settings.logo_position != 'middle-center' -%}
      {%- if request.page_type == 'index' -%}<h1 class="header__heading">{%- endif -%}
      <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
        {%- if settings.logo != blank -%}
          <div class="header__heading-logo-wrapper">
            {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
            {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
            {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
            {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
            {{ settings.logo | image_url: width: 600 | image_tag: class: 'header__heading-logo', widths: widths, height: logo_height, width: settings.logo_width, alt: logo_alt, sizes: sizes, preload: true }}
          </div>
        {%- else -%}
          <span class="h2">{{ shop.name }}</span>
        {%- endif -%}
      </a>
      {%- if request.page_type == 'index' -%}</h1>{%- endif -%}
    {%- endif -%}

    {%- if has_menu -%}
      <nav class="header__inline-menu">
        {%- render 'header-mega-menu' -%}
      </nav>
    {%- endif -%}

    {%- if section.settings.logo_position == 'middle-center' -%}
      {%- if request.page_type == 'index' -%}<h1 class="header__heading">{%- endif -%}
      <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
        {%- if settings.logo != blank -%}
          <div class="header__heading-logo-wrapper">
            {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
            {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
            {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
            {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
            {{ settings.logo | image_url: width: 600 | image_tag: class: 'header__heading-logo', widths: widths, height: logo_height, width: settings.logo_width, alt: logo_alt, sizes: sizes, preload: true }}
          </div>
        {%- else -%}
          <span class="h2">{{ shop.name }}</span>
        {%- endif -%}
      </a>
      {%- if request.page_type == 'index' -%}</h1>{%- endif -%}
    {%- endif -%}

    <div class="header__icons{% if show_localization %} header__icons--localization header-localization{% endif %}">
      <div class="desktop-localization-wrapper">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <localization-form class="small-hide medium-hide" data-prevent-hide>
            {%- form 'localization', id: 'HeaderCountryFormPremium', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderCountryLabelPremium">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <localization-form class="small-hide medium-hide" data-prevent-hide>
            {%- form 'localization', id: 'HeaderLanguageFormPremium', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderLanguageLabelPremium">{{ 'localization.language_label' | t }}</h2>
                {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>

      {%- if settings.predictive_search_enabled -%}
        {% render 'search-spotlight', input_id: 'Search-Spotlight' %}
      {%- else -%}
        {% render 'header-search', input_id: 'Search-In-Modal' %}
      {%- endif -%}

      {%- if shop.customer_accounts_enabled -%}
        <a
          href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
          class="header__icon header__icon--account link focus-inset{% if has_menu %} small-hide{% endif %}"
          rel="nofollow"
        >
          <span class="svg-wrapper">{{ 'icon-account.svg' | inline_asset_content }}</span>
          <span class="visually-hidden">
            {%- if customer -%}
              {{ 'customer.account_fallback' | t }}
            {%- else -%}
              {{ 'customer.log_in' | t }}
            {%- endif -%}
          </span>
        </a>
      {%- endif -%}

      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble-premium">
        {% if cart == empty %}
          <span class="svg-wrapper">{{'icon-cart-empty.svg' | inline_asset_content }}</span>
        {% else %}
          <span class="svg-wrapper">{{'icon-cart.svg' | inline_asset_content }}</span>
        {% endif %}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
    </div>

    <div class="header-scrim" aria-hidden="true"></div>
  </header>
</{{ header_tag }}>

{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme, desktop_menu_type: 'mega' -%}
{%- endif -%}

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() { super(); }
    connectedCallback() {
      this.header = document.querySelector('.section-header');
      this.headerIsAlwaysSticky = this.getAttribute('data-sticky-type') === 'always' || this.getAttribute('data-sticky-type') === 'reduce-logo-size';
      this.headerBounds = {};
      this.setHeaderHeight();
      window.matchMedia('(max-width: 990px)').addEventListener('change', this.setHeaderHeight.bind(this));
      if (this.headerIsAlwaysSticky) { this.header.classList.add('shopify-section-header-sticky'); };
      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');
      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;
      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);
      this.createObserver();
      this.onFocusOut = this.handleFocusOut.bind(this);
      document.addEventListener('keyup', this.onKeyUp.bind(this));
    }
    setHeaderHeight() {
      document.documentElement.style.setProperty('--header-height', `${this.header.offsetHeight}px`);
    }
    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.header.classList.toggle('shopify-section-header-sticky', !entries[0].isIntersecting);
      });
      observer.observe(this.header);
    }
    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
      if (scrollTop > this.currentScrollTop && scrollTop > 400) {
        this.header.classList.add('shopify-section-header-hidden');
      } else {
        this.header.classList.remove('shopify-section-header-hidden');
      }
      this.currentScrollTop = scrollTop;
    }
    handleFocusOut() { setTimeout(() => { if (!this.contains(document.activeElement)) this.closeMenuDisclosure(); }); }
    onKeyUp(event) { if (event.code.toUpperCase() === 'ESCAPE') this.closeMenuDisclosure(); }
    closeMenuDisclosure() { this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu'); this.disclosures.forEach(d => d.close()); }
  }
  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

{% schema %}
{
  "name": "Premium header",
  "class": "section-header",
  "max_blocks": 3,
  "settings": [
    {"type":"select","id":"logo_position","options":[{"value":"top-left","label":"t:sections.header.settings.logo_position.options__2.label"},{"value":"top-center","label":"t:sections.header.settings.logo_position.options__3.label"},{"value":"middle-left","label":"t:sections.header.settings.logo_position.options__1.label"},{"value":"middle-center","label":"t:sections.header.settings.logo_position.options__4.label"}],"default":"middle-left","label":"t:sections.header.settings.logo_position.label","info":"t:sections.header.settings.logo_help.content"},
    {"type":"select","id":"mobile_logo_position","options":[{"value":"center","label":"t:sections.header.settings.mobile_logo_position.options__1.label"},{"value":"left","label":"t:sections.header.settings.mobile_logo_position.options__2.label"}],"default":"center","label":"t:sections.header.settings.mobile_logo_position.label"},
    {"type":"link_list","id":"menu","default":"main-menu","label":"t:sections.header.settings.menu.label"},
    {"type":"select","id":"menu_type_desktop","options":[{"value":"mega","label":"t:sections.header.settings.menu_type_desktop.options__2.label"},{"value":"dropdown","label":"t:sections.header.settings.menu_type_desktop.options__1.label"},{"value":"drawer","label":"t:sections.header.settings.menu_type_desktop.options__3.label"}],"default":"mega","label":"t:sections.header.settings.menu_type_desktop.label"},
    {"type":"select","id":"sticky_header_type","options":[{"value":"none","label":"t:sections.header.settings.sticky_header_type.options__1.label"},{"value":"on-scroll-up","label":"t:sections.header.settings.sticky_header_type.options__2.label"},{"value":"always","label":"t:sections.header.settings.sticky_header_type.options__3.label"},{"value":"reduce-logo-size","label":"t:sections.header.settings.sticky_header_type.options__4.label"}],"default":"on-scroll-up","label":"t:sections.header.settings.sticky_header_type.label"},
    {"type":"checkbox","id":"show_line_separator","default":true,"label":"t:sections.header.settings.show_line_separator.label"},
    {"type":"color_scheme","id":"color_scheme","label":"t:sections.all.colors.label","default":"scheme-1"},
    {"type":"color_scheme","id":"menu_color_scheme","label":"t:sections.header.settings.menu_color_scheme.label","default":"scheme-1"},
    {"type":"checkbox","id":"enable_country_selector","default":true,"label":"t:sections.header.settings.enable_country_selector.label","info":"t:sections.header.settings.enable_country_selector.info"},
    {"type":"checkbox","id":"enable_language_selector","default":true,"label":"t:sections.header.settings.enable_language_selector.label","info":"t:sections.header.settings.enable_language_selector.info"}
  ],
  "blocks": [
    {"type": "@app"}
  ]
}
{% endschema %}
